@model BigViewModel

<!-- ***** Special Area Start ***** -->
<section class="special-area section_padding_150" style="margin-bottom:50px !important; box-shadow:none !important;">
    <div class="container" style="max-width:1366px !important;">

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_01.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-6">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_02.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_01_03.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-12">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">
                        <img src="/User/img/back_index_02.jpg" style="width:100%; height:100%; border-radius:12px;" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-8">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:6px; border-radius:15px; border:2px double #fff; width:100%; height:360px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <span class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Tin Tức Sự Kiện</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%; height:360px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <span class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Vua Tài</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-8">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%; height:360px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <span class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Thông Báo</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-4">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%; height:360px;">
                        <div style="background:url('/User/img/menu-noel.png'); height:50px; border-top-left-radius:6px; border-top-right-radius:6px; box-shadow: 0 14px 6px -2px rgba(0, 0, 0, 0.2);">
                            <span class="text-center" style="color:#ffd800; line-height:48px; font-size:24px;">Vua Xỉu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</section>
<!-- ***** Special Area End ***** -->
