@model BigViewModel

<!-- ***** Special Area Start ***** -->
<section class="special-area section_padding_150" style="margin-bottom:50px !important; box-shadow:none !important;">
    <div class="container" style="max-width:1366px !important;">


        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-12">
                <div class="single-special text-center">
                    <div style="background:rgba(255, 255, 255, 0.3) !important; box-shadow:rgba(0, 0, 0, 0.5) 0px 20px 30px -20px; padding:10px; border-radius:15px; border:2px double #fff; width:100%;">

                        <img src="/User/img/back_site.jpg" style="width:100%; height:100%; border-radius:12px;" />

                    </div>
                </div>
            </div>
        </div>


    </div>
    
</section>
<!-- ***** Special Area End ***** -->
