@model int

@{ 
    Layout = null;
}

@{ 
    var statusCode = Model;
    var statusMessage = "";
    switch (statusCode)
    {
        case 400:
            statusMessage = "Yêu cầu không thể thực hiện được do cú pháp không tốt.";
            break;
        case 403:
            statusMessage = "Bạn không có quyền truy cập vào mục này.";
            break;
        case 404:
            statusMessage = "Không tìm thấy trang mà bạn đang tìm kiếm.";
            break;
        case 408:
            statusMessage = "Hết thời gian yêu cầu";
            break;
        case 500:
            statusMessage = "Máy chủ không thể hoàn tất yêu cầu này.";
            break;
        default:
            statusMessage = "Ồ, điều mà chúng ta không mong đợi đã xảy ra.";
            break;
    }
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" href="/colorlib/img/core-img/favicon.ico">
    <title>.:: Tài Xỉu BnS ::.</title>
    <!-- Bootstrap Core CSS -->
    <link href="/AdminLTE/bowers/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url('/User/img/back_login_opa60.jpg') #4c11be no-repeat center top fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>

<body class="fixed-top card-body">
    <section id="wrapper" class="error-page">
        <div class="error-box" style="background:rgba(255,255,255,0.5); overflow:hidden; width:80%; padding:10px; margin:10px auto; border-radius:15px;">
            <div class="error-box text-center">
                <h1 style="font-size:128px; color:#c14803;">@statusCode</h1>
                <h3 class="text-uppercase">@statusMessage</h3>
                <p class="text-muted m-0" style="color:#db5103; font-size:18px;">Đừng lo lắng, hãy quay trở lại bằng cách bấm nút ở dưới.</p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-success">TRANG CHỦ</a>
            </div>
            <div class="copyright-text text-center" style="margin-bottom:20px; margin-top:15px;">
                <p style="color:#c14803 !important; font-weight:700; font-size:16px;">© 2017-2018 Tài Xỉu BnS.</p>
            </div>
        </div>
    </section>

    <script src="/AdminLTE/bowers/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/AdminLTE/bowers/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
